<li class="@(RewardItem.Amount == 0 ? "item-faded" : "item")" style="background-image: url('@RewardItemDefinition.ImageUrl(RewardItem.Amount)')">
   


    @if (RewardItem.Amount > 0)
    {

    <span class="tooltiptext tooltip-top">@(RewardItem.GetFormattedNumberString() + " x " + RewardItemDefinition.Name)</span>
    }

    @if (RewardItem.Amount > 1)
    {
<div class="item-info">
    <span class="amount" style="color: @RSItemAmountStringHelper.GetColorForFormattedAmount(RewardItem.Amount)">@RewardItem.GetRSFormattedAmount()</span>
</div>
    }




</li>

@code {

    [Parameter] public RewardItemDefinition RewardItemDefinition { get; set; }

    [Parameter] public RewardItem RewardItem { get; set; }
}
